@import "null.css";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body {
	font-family: 'Lato', sans-serif;
	font-style: normal;
	color: #1E212C;
	text-align: left;
}
.wrapper {
	margin: 0 auto;
	max-width: 810px;
	min-height: 100%;
}
.title {
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
	padding-top: 7%;
	margin-bottom: 7%;
}
.img-block {
	margin-bottom: 7%;
}
.description {
	font-weight: 700;
	font-size: 20px;
	line-height: 150%;
	margin: 0 auto 3%;
}
.text {
	font-weight: 400;
	font-size: 16px;
	line-height: 160%;
	color: #424551;
	margin-bottom: 3%;
}
.bracket {
	padding: 3% 0 3% 7%;
}

ul {
	padding-left: 3%;
}

li {
	line-height: 200%;
}

.subtitle {
	margin-bottom: 3%;
}
